@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background: #ffd8e7;
  font-family: 'Pacifico', cursive;
}

.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0, auto;
  left: 25%;
  margin-top: 10%;
  width: 50%;
  height: 50%;
  overflow: auto;
  background: #737373;
  border: 3px white solid;
  color: white;
}

.X, .O {
  color: #a8dfff;
  text-decoration: underline;
  transition: color 0.4s ease;
}

.X:hover, .O:hover {
  color: white;
  cursor: pointer;
}

.choose {
  font-size: 10em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titlecard {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  padding: 2%;
}

.gameboard {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 550px;
}

.row1, .row2, .row3 {
  display: flex;
  flex: 1;
}

.cell {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid white;
  background: #a8dfff;
}

.cell:hover {
  background: rgba(0,0,0,0.2);
}

.footer {
  padding: 3%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.github {
  margin-top: 10px;
}
